{% extends "accounts/base.html" %} 
{% load static %} 
{% load widget_tweaks %} 


{% block title %}Login{% endblock %} 

{% block body %}
{% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
</div>
<h3 class="mb-4 text-center">Have an account?</h3>
<form method="POST" class="signin-form">
  {% csrf_token %}
  <div class="form-group">
    {% render_field form.username class='form-control' placeholder='Username' %}
    {% comment %}
    <input type="text" class="form-control" placeholder="Username" required />
    {% endcomment %}
  </div>
  <div class="form-group">
    {% comment %}
    <input
      id="password-field"
      type="password"
      class="form-control"
      placeholder="Password"
      required
    />
    {% endcomment %} 
    {% render_field form.password id='password-field' class='form-control' placeholder='Password' %}
    <span
      toggle="#password"
      class="fa fa-fw fa-eye field-icon toggle-password"
    ></span>
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-primary submit px-3">
      Sign In
    </button>
  </div>
  <div class="form-group d-md-flex">
    <div class="w-50">
      <label class="checkbox-wrap checkbox-primary"
        >Remember Me
        <input type="checkbox" checked />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="w-50 text-md-right">
      <a href="{% url "password_reset_view" %}" style="color: #fff">Forgot Password</a>
    </div>
  </div>
</form>
<p class="w-100 text-center">
  Doesn't have an account?
  <a href="{% url "accounts:signup" %}" style="color: #fff; text-decoration: underline">Signup</a>
</p>
{% endblock %}
