{% extends "accounts/base.html" %} 
{% load static %} 
{% load widget_tweaks %} 


{% block title %}Password Reset{% endblock %} 

{% block body %}
{% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger mt-3">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
</div>
<form method="POST" class="signin-form">
  {% csrf_token %}
  <div class="form-group">
    {% render_field form.email class='form-control' placeholder='Email' %}
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-primary submit px-3">
      Send Email
    </button>
  </div>
</form>
{% endblock %}
